h1,
p {
  font-family: Lato;
  color: blue;
}

div.header {
  background-color: lavender;
  height: 32px;
  text-align: center;
  display: block;
  margin: -16px -8px -16px -8px;
}

div.header p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  color: blueviolet;
}

div.footer {
  background-color: rgb(30, 30, 32);
  height: 32px;
  text-align: center;
  display: block;
  margin: 16px -8px 0px -8px;
}

div.footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-align: center;
  vertical-align: middle;
  color: rgb(255, 255, 255);
}
